#feature {
  padding: 40px 0 ;
}
#feature .media {
  margin-bottom: 10px;
  width: 210px;
  margin: 0 auto;
}
#feature .media a {
  text-decoration: none;
  color: #666;
}
#feature .media a:hover {
  color: ;
}
